.breadcrumbs {
  font-size: 1.125rem;
  color: white;
  margin-bottom: 1rem;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  text-decoration-line: underline;
  text-underline-offset: 4px;
  color: var(--color-secondary);
}

.breadcrumbs-current {
  font-weight: 700;
}

.breadcrumbs-separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}